table { 
    width: 100%;
} 

.mat-form-field {
    font-size: 14px;
    width: 100%;
} 

td, th {
    width: 25%;
}

.mat-table {
    background: transparent;
}

.mat-paginator {
    background: transparent;
}